<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    async function GetToken(c) {
        var settings = {
            url: "/auth/token",
            method: "POST",
            timeout: 0,
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            data: {
                client_secret: "{{client_secret}}",
                client_public: "{{client_public}}",
                auth_code: c,
            },
        };
        let data = undefined;
        await $.ajax(settings).done(function (res) {
            data = res
        });
        return data;
    }

    function login_() {
        var settings = {
            "url": "/auth/allow",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            "data": {
                "username": document.querySelector('.username').value,
                "password": document.querySelector('.password').value,
                "auth_code": "{{code}}"
            }
        };

        $.ajax(settings).done(function (res) {
            if (res) {
                if (localStorage.getItem("accounts") === null) {
                    const data = [{
                        "username": res.user_data.username,
                        "email": res.user_data.email,
                        "password": btoa(res.user_data.password),
                        "account_image": res.user_data.account_image
                    }];
                    localStorage.setItem("accounts", JSON.stringify(data));
                } else {
                    var data = JSON.parse(localStorage.getItem("accounts"));
                    var currentData = {
                        "username": res.user_data.username,
                        "email": res.user_data.email,
                        "password": btoa(res.user_data.password),
                        "account_image": res.user_data.account_image
                    };
                    if (JSON.stringify(data).includes(JSON.stringify(currentData))) {
                    } else {
                        data.push({
                            "username": res.user_data.username,
                            "email": res.user_data.email,
                            "password": btoa(res.user_data.password),
                            "account_image": res.user_data.account_image
                        });
                        localStorage.setItem("accounts", JSON.stringify(data));
                    }
                }
                if ('{{response_type}}' === 'token') {
                    function URLToArray(url) {
                        var request = {};
                        var pairs = url.substring(url.indexOf('?') + 1).split('&');
                        for (var i = 0; i < pairs.length; i++) {
                            if (!pairs[i])
                                continue;
                            var pair = pairs[i].split('=');
                            request[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
                        }
                        return request;
                    }

                    var urI = URLToArray(res.callback);
                    GetToken(`${urI.get('code')}`).then((tokens) => {
                        if (tokens) {
                            window.location.href = `${res.callback.split(/[?#]/)[0]}?token=${encodeURI(JSON.stringify(tokens))}&nonce=${urI.get('nonce')}&state=${urI.get('state')}`;
                        }
                    });
                }
                if ('{{response_type}}' === 'code') {
                    window.location.href = res.callback;
                }
            }
        });
    }
</script>
<input class="username">
<input class="password">
<button onclick="login_()">Login</button>
